<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Flooding!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>
      html { height: 100%; }
      body { margin: 0; height: 100%; }
    </style>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/particles.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/map.js") %>"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpN0VaUoo6vuptw6aOIWErdFFW3KKioDc&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>
